<div class="map">
  <div id="map-canvas" class="map__container"></div>
  
  <div class="map__overlay">
    <div class="map__overlay-container">
      <h1 class="map__title">{{fn('__', 'Contact', 'timelab-t3')}}</h1>
      <div class="map__address">{{ acf.acf_contact_address.address }}</div>
      <span class="map__zip">{{ acf.acf_contact_zip }}</span> <span class="map__city">{{ acf.acf_contact_address.city }}</span>
      <div class="map__phone">
        {% for contact in acf.acf_contact_contacts %}
          {% if contact.type == "phone" %}
            <a class="map__link" href="tel:{{ contact.value|replace({' ' : '', '-' : ''}) }}">
              {{ contact.value }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>