<div class="row personnel">
  {% for person in acf.acf_contact_personnel %}
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
      <div class="personnel__item">
        <picture>
          <source media="(max-width: 565px)" srcset="{{person.image.sizes.personnel_sm}}">
          <source media="(max-width: 991px)" srcset="{{person.image.sizes.personnel_md}}">
          <img src="{{person.image.sizes.personnel}}" />
        </picture>
        <div class="personnel__overlay"></div>
        <div class="personnel__info">
          <div class="personnel__name">{{person.name}}</div>
          <div class="personnel__role">{{person.role}}</div>
          
          {% if person.phone %}
            <div class="personnel__contact personnel__contact--phone">
              <div class="personnel__icon personnel__icon--phone">
                {{ source('/assets/images/phone-icon.svg' | theme_path) }}
              </div>
              <div class="personnel__label">{{ fn('__', 'Phone number', 'timelab-t3') }}:</div>
              <a class="personnel__link" href="tel:{{person.phone|replace({' ': '', '-': ''})}}">{{person.phone}}</a>  
            </div>
          {% endif %}

          {% if person.email %}
            <div class="personnel__contact personnel__contact--email">
              <div class="personnel__icon personnel__icon--email">
                {{ source('/assets/images/email-icon.svg' | theme_path) }}
              </div>
              <div class="personnel__label">{{ fn('__', 'Email', 'timelab-t3') }}:</div>
              <a class="personnel__link" href="mailto:{{person.email}}">{{person.email}}</a>  
            </div>
          {% endif %}

          {% if person.cv %}
            <div class="personnel__contact personnel__contact--cv">
              <div class="personnel__icon personnel__icon--cv">
                <a class="personnel__link" href="{{ person.cv.url }}">
                  {{ source('/assets/images/cv-icon.svg' | theme_path) }}
                </a>
              </div>
              <a class="personnel__link personnel__label" href="{{ person.cv.url }}">{{ fn('__', 'Download CV', 'timelab-t3') }}</a>  
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>