.button{
	display: inline-block;
	background-color: $orange;
	display: inline-block;
	top: 25px;
	color: $white;
	padding: 5px 25px;
	font-weight: normal;
	transition: all $animation-time ease-in-out;

	@include media-breakpoint-down(md) { 
    padding: 6px 20px;
	}

	&:hover{
		color: $orange;
		background-color: $white;
		text-decoration: none;
	}

	&--no-hover{
		&:hover{
			color: $white;
			background-color: $orange;
		}
	}

	&--right{ 
		@include media-breakpoint-up(lg) { float: right; } 
	}

	&--round{ border-radius: 5px; }
	&--transparent{
		background-color: transparent;
		border: 2px solid $orange;
		color: $orange;

		&:hover{
			background-color: $orange;
			border-color: transparent;
			color: #fff;
		}
	}

	&--white{
		border-color: #fff;
		color: #fff;
		&:hover{
			color: $orange;
			background-color: #fff;
		}
	}

	&--news{
		padding: 11px 36.5px;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 500;
	}

	&--footer-message{
		font-size: 13px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 26px;
    margin-left: 44px;

    @include media-breakpoint-down(sm) {
      margin-left: 0px;
      margin-top: 10px;
      padding: 10px 20px;
    }
	}
}