.wpcf7{
  &__input, &__textarea{
    width: 100%;
    background-color: #F5F5F5;
    border: none;
    margin-bottom: 24px;
    padding: 12px 18px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }

  &__textarea{
    height: 177px;
    max-width: 100%;
    @include media-breakpoint-down(sm) { margin-bottom: 8px; }
  }

  &__submit{
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}