.footer{
	background-color: $white;
  padding: 38px 37px 40px;

  &--border-top{
    border-top: 1px solid #dfdfdf;
  }

  @include media-breakpoint-down(md) {
    padding: 32px 37px 31px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    padding: 40px 20px 22px;
    position: relative;
  }

  &__container{
    @include media-breakpoint-down(sm) { 
      order: -1;
      width: 100%;
    }
  }

  &__to-top{
    margin-right: 34px;

    @include media-breakpoint-down(sm) {
      position: absolute;
      right: 0;
      bottom: 53px;
    }

    svg{
      height: 9.65px;
      width: 18.73px;

      @include media-breakpoint-between(md, md) {
        height: 5.5px;
        width: 10.68px;
      }

      .cls-1{
        fill: none;
        stroke: #000;
        stroke-width: 2px;
        transition: stroke $animation-time linear;

        @include media-breakpoint-down(md) { stroke: rgba(#000, 0.28); }
      }
    }

    &:hover{
      .cls-1{
        fill: none;
        stroke: $orange;
        stroke-width: 2px;
      }
    }
  }

  &__contact-us{
    margin-right: 37px;
    font-size: 20px;
    color: $black;

    @include media-breakpoint-down(md) { 
      font-size: 16px;
      margin-right: 31px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      margin-right: 0;
      margin-bottom: 29px;
      padding-bottom: 33px;
      border-bottom: 1px solid #eaeaea;
      width: 100%;
      text-align: center;
      font-weight: 500;
    }
    
    &:hover{ 
      color: $orange;
      text-decoration: none;
    }
  }

  &__message{
    background-color: $teal;
    text-align: center;
    color: #fff;
    font-size: 31px;
    padding: 48px 0;

    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 26px;
      padding: 18px 36px;
    }
  }
}