.header{
	background: $white;
  padding: 0 37px;

  @include media-breakpoint-down(md) {
    padding: 0 32px;
  }

	&__wrapper{
		height: 143px;
		display: flex;
		justify-content: space-between;
		align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
      height: 149px;
    }
	}

  &__page-title {
    background-color: #00476C;
    margin: 0 -37px 20px;
    padding: 20px;
    padding-left: 37px;
    @include media-breakpoint-between(md, md){ padding-left: 43px; }
    @include media-breakpoint-down(sm) { padding-left: 31px; }

    &--no-margin{
      margin-bottom: 0;
    }

    &--hidden{
      display: none;
    }

    @include media-breakpoint-down(md){
      display: block;
    }

    @include media-breakpoint-down(md){
      margin: 0 -32px;
      margin-bottom: 0;
    }

    h1 {
      font-size: 22px;
      color: white;
      font-weight: 300;
      margin: 0;
    }
  }
}