.map{
  width: 100%;
  position: relative;

  @include media-breakpoint-between(md, md){ padding: 0 32px; }

  &__container{
    height: 414.66px;
    @include media-breakpoint-down(md) { height: 330px; }
    @include media-breakpoint-down(sm) { height: 229px; }
  }

  &__overlay{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    height: 100%;
    background-color: rgba(6,123,138,0.81);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 89.5px;

    @include media-breakpoint-down(md) {
      position: static;
      height: auto;
      width: 100%;
      align-items: baseline;
      padding: 37px 0 32px;
      font-size: 18px;
      line-height: 31px;
    }

    @include media-breakpoint-down(sm) {
      padding: 26px 0 19px;
      font-size: 15px;
      line-height: 26px;
    }
  }

  &__overlay-container{
    width: 254px;
    @include media-breakpoint-down(md) { width: 100%; }
  }

  &__title{
    margin-bottom: 30px;
    padding-bottom: 24px;
    border-bottom: 1px solid #fff;
    font-weight: 200;

    @include media-breakpoint-down(sm) { 
      font-size: 26px;
      padding-bottom: 15px;
      margin-bottom: 11px;
    }
  }

  &__phone{
    
  }

  &__link{
    color: #fff;
    &:hover{ color: #fff; }
  }

  .custom-marker{
    .shadow{
      width: 25px;
      height: 25px;
      position: absolute;
      background: rgba(0,0,0,0.25);
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .ball{
      background-color: $teal;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }
  }
}