.pagination {
  $block: &;
  display: block;
  padding-top: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  @include media-breakpoint-down(md){
    justify-content: flex-start;
  }
  
  &__item {
      display: inline-block;
      text-align: center;
      width: 30px;
      height: 30px;
      padding-bottom: 20px;
      margin-right: 5px;
      background-color: $grey;
      transition: background-color $animation-time linear;
      
      #{$block}__link {
        color: #232323;
        padding-top: 4px;
        transition: color $animation-time linear;
        display: block;
      }

      &--active, &:hover { 
        background-color: #12818f;

        #{$block}__link { 
          color: #fff;
          text-decoration: none;
        }
      }
      
  }
}