.personnel{
  $block: &;
  margin-bottom: 81px;

  @include media-breakpoint-down(md) { margin-bottom: 0; }
  @include media-breakpoint-down(sm) { margin-bottom: 13px; }

  img{
    max-width: 100%;
  }

  &__item{
    position: relative;
    overflow: hidden;
    margin-bottom: 31px;

    @include media-breakpoint-down(sm) { margin-bottom: 23px; }
  }

  &__info{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    color: #fff;
    transition: top 300ms linear, transform 300ms linear;
    font-size: 14px;

    @include media-breakpoint-down(md){
      font-size: 18px;
    }

    #{$block}__item:hover &, #{$block}__item--open &{
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__overlay{
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,80,90,0.61));
    transition: height 1ms linear;
    transition-delay: 150ms;

    #{$block}__item:hover &, #{$block}__item--open &{
      height: 100%;
      transition: none;
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(6,123,138,0.78), rgba(6,123,138,1));
      transition: opacity 150ms linear;
      opacity: 0;

      #{$block}__item:hover &, #{$block}__item--open &{
        opacity: 1
      }
    }

  }

  &__name{
    font-size: 18px;
    font-weight: 500;

    @include media-breakpoint-down(md){
      font-size: 22px;
    }
  }

  &__role{
    margin-bottom: 11px;
  }

  &__link{
    color: #fff;
    &:hover{ color: #fff; }
  }

  &__label{
    font-weight: 500;
  }

  &__icon{
    svg{ fill: #fff; }

    &--phone{
      svg{
        width: 22px;
        height: 29.11px;

        @include media-breakpoint-between(md,md){
          width: 28.28px;
          height: 37.41px;
        }
      }
    }

    &--email{
      svg{
        width: 24.45px;
        height: 24.45px;

        @include media-breakpoint-between(md,md){
          width: 36px;
          height: 36px;
        }
      }
    }

    &--cv{
      svg{
        width: 23px;
        height: 23px;

        @include media-breakpoint-between(md,md){
          width: 34px;
          height: 34px;
        }
      }
    }
  }

  &__contact{
    opacity: 0;
    transition: opacity 150ms linear;
    margin-bottom: 17px;

    &:last-child{ margin-bottom: 0; }

    #{$block}__item:hover &, #{$block}__item--open &{
      opacity: 1
    }
  }
}