.repeatable-posts{
	$root: &;
	$root_link: $root + '__link';
	display: flex;
	width: 100%;

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
	}

	&__post{
		padding: 0;
		display: flex;
		flex-direction: column;

		@include media-breakpoint-down(sm) { margin-bottom: $startpage-xs-module-gap; }
		@include media-breakpoint-up(lg) { min-height: 431.06px; }
	}

	&__tag{
		position: absolute;
		top: 25px;
		left: 0;
		z-index: 2;

		@include media-breakpoint-down(sm) { top: 0; }
	}

	&__image-container{
		position: relative;

		img {
			max-width: 100%;
		}

		&--absolute{
			@include media-breakpoint-up(md) {
				overflow: hidden;
				height: 100%;

				img{
					position: absolute;
					height: 100%;
					max-width: none;
				}
			}
		}
	}

	&__image-text{
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity $animation-time linear;
		font-size: 34px;
		color: $white;
		font-style: italic;
		z-index: 2;

		#{$root_link}:hover & { opacity: 1; }
	}

	&__image-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: transparent;
		transition: background-color $animation-time linear;
		z-index: 1;

		#{$root_link}:hover & { background-color: rgba(#2E7598, 0.30); }
	}

	&__inner-text {
		max-height: 61px;
		overflow: hidden;

		@include media-breakpoint-down(md) { max-height: 63px; }
		@include media-breakpoint-down(sm) { max-height: none; }
	
		@include media-breakpoint-up(md) {
			&--overlay{ max-height: none; }
		}

	}

	&__text-box{
		color: #fff;
		height: 136.56px;
		overflow: hidden;
		padding: 36px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include media-breakpoint-down(md) { 
			padding: 0 19px; 
			height: 81px;
		  font-size: $font-size-std - 2;
			line-height: 19px;
		}

		@include media-breakpoint-down(sm) { 
			height: auto;
			text-align: center;
			padding: 29px 34px 20px;
			// No thumbnail padding fix
			&--no-thumbnail{ padding: 38px 34px 29px; }
		}
		
		//Background colors
		&--blue{ background-color: $blue;}
		&--teal{ background-color: $teal; }
		&--orange{ background-color: $orange; }
		&--transparent{ background-color: transparent; }
		&--blue-transparent{ background-color: rgba($blue, 0.7); }
		&--teal-transparent{ background-color: rgba($teal, 0.7); }
		&--orange-transparent{ background-color: rgba($orange, 0.7); }

		@include media-breakpoint-up(lg) {
			// Text aligns
			&--aling-left{ text-align: left; }
			&--align-center{ text-align: center; }
			&--align-right{ text-align: right; }

			// Box position
			&--position-bottom{ justify-content: flex-end; }
			&--position-center{ justify-content: center; }
			&--position-top{ justify-content: flex-start; }
		}

		@include media-breakpoint-up(md) {
			// Text position
			&--overlay{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				display: flex;
				flex-direction: column;
				z-index: 1;
			}

			// Box position
			&--position-bottom{ justify-content: flex-end; padding-bottom: 20px; }
		}
	}

	&__title{
		@include media-breakpoint-between(md, md) {
			font-size: 20px;
	    margin-bottom: 2px;
		}
	}

	&__text{
		p {
			margin: 0 !important;
		}

		@include media-breakpoint-up(md) {
			#{$root}__text-box:not(#{$root}__text-box--no-thumbnail):not(#{$root}__text-box--no-thumbnail) &{
				> p {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}

		@include media-breakpoint-down(sm) { 
			max-height: 60px;
	    overflow: hidden
		}

		&--hidden-sm{
			@include media-breakpoint-between(md, md) { display: none; }
		}
	}

	&__link{
		color: $white;
		position: relative;
		display: inline-block;
		
		&:hover{ 
			color: $white;
			text-decoration: none;
		}
	}

	&__button{
		@include media-breakpoint-down(sm) { display: none; }
	}
}