.sidebar{
  display: flex;
  flex-direction: column;
}

.sidebar-module{
  $block: &;
  margin-top: 30px;
  background-color: white;
  padding: 27px 37px 23px;
  transition: color 0.3s;
  padding-left: 35px;

  @include media-breakpoint-down(md) { 
    padding: 33px;
    margin-top: 37px;

    &--news-list{ order: 3; }

    &--search, &--share{ padding: 33px 33px 23px; }

    &--search{ 
      margin-top: 0;
      position: relative;
      padding: 27px 33px 24px;

      &:after{
        display: block;
        background-color: rgba(#707070, 0.13);
        content: " ";
        position: absolute;
        top: -1px;
        height: 1px;
        width: calc(100% - (33px*2));
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @include media-breakpoint-down(sm) { 
    padding: 30px;

    &--news-list{ order: 0; }

    &--share{ padding: 29px 33px 22px; }

    &--search{ 
      margin-top: 0;
      position: relative;
      padding: 24px 31px 15px;

      &:after{
        display: block;
        background-color: rgba(#707070, 0.13);
        content: " ";
        position: absolute;
        top: -1px;
        height: 1px;
        width: calc(100% - (19px*2));
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--first{
    @include media-breakpoint-up(lg) { margin-top: 0; }
  }

  &--news-list{
    padding: 27px 37px 20px;
    @include media-breakpoint-down(sm) { padding: 16px 32px 20px; }
  }

  &__title {
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 3px;

    @include media-breakpoint-up(lg) {
      font-size: $font-size-h3;
    }

    @include media-breakpoint-down(sm) { margin-bottom: 21px; }
  }

  &__list {
    hr {
      margin-top: 12px;
      margin-bottom: 13px;
    }
  
    p {
      transition: color 0.2s;
    }
  }

  &__list-item {
    color: #000;

    &--active{
      #{$block}__list-title { color: #FF6803; }
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;

      p {
        transition: color 0.2s;
        color: #FF6803;
      }
    }
  }

  &__list-date {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: #12818f;
  }

  &__list-title {
    margin: 0;
  }

  &__paragraph {
    text-align: left;
    margin: 0;
    font-weight: normal;

    @media screen and (max-width: 991px) {
      width: auto;
      text-align: left;
    }
  }

  &__input {
    padding-left: 5px;
    border: 0;
    width: 75%;
    margin: 0;
    outline: none;
    position: relative;
    top: -2px;
    
    @media screen and (max-width: 991px) {
      width: auto;
    }

    &::placeholder {
      font-style: italic;
    }
  }

  &__link {
    color: #000;

    &:hover {
      color: #FF6803;
      transition: color 0.3s;
      text-decoration: none;

      #{$block}__icon {
        fill: #FF6803 !important;
      }
    }
  }

  &__icon{
    float: left;
    margin-top: -5px;
    transition: fill 0.3s;
    
    &--facebook{
      fill: #475993;
      margin-right: 15px;

      #surface2 {
        transition: fill 0.4s;
      }
    }

    &--search{
      margin-right: 10px;
      fill: black;
    }

    &--hover{
      fill: $orange;
    }
  }
}