.site-logo{
	svg{
		width: 168.2px;
		height: 59.5px;

    .cls-1 {
      fill: #00476c;
    }

    .cls-2 {
      fill: #067b8a;
    }

    .cls-3 {
      fill: #47a6aa;
    }

    .cls-4 {
      fill: #fff;
    }
	}

  &--header{
    @include media-breakpoint-down(sm) { margin-bottom: 25px; }
  }

  &--footer{
    @include media-breakpoint-down(md) { display: none; }
  }

  &--menu{
    @include media-breakpoint-down(xs) {
      svg {
          width: 127.2px;
          height: 59.5px;
      }
    }
  }

  &--footer-small{
    @include media-breakpoint-up(lg) { display: none; }

    svg{
      width: 48.47px;
      height: 46.41px;

      @include media-breakpoint-down(sm) { 
        width: 61.74px;
        height: 59.12px;
      }
    }
  }
}