.nav-toggle{
	svg{ 
		height: 22px;
		width: 34px; 
	}

	.cls-1{ 
    transition: fill $animation-time linear;
    fill: $teal-dark;
  }

	&:hover{
		.cls-1{ fill: $orange; }
	}
}

.site-nav{
	//display: none;
  $block: &;
  width: 565px;
  position: fixed;
  right: 0;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 3px 10px rgba(#000, 0.34);
  display: block;
  transform: translate3d(570px, 0, 0);
  transition: transform 250ms linear;
  overflow-y: auto; 

  @include media-breakpoint-down(sm) {
    width: 300px;
    transform: translate3d(310px, 0, 0);
  } 

  &__list{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0;
    margin-bottom: 0;

    &--child{
      display: none;
      margin-bottom: 0;

      #{$block}__item--child#{$block}__item--active,
      #{$block}__item--active#{$block}__item--has-children > &{
        display: block;
      }

      &.collapsing{ display: block; }
    }
  }

  &__item{
    $element: &;
    display: inline-block;
    font-size: 22px;
    padding: 12px 73px 9px;
    margin-bottom: 27px;

    &--active{
      font-weight: 500;
      background-color: $orange;
    }

    @include media-breakpoint-down(sm) { 
      padding: 12px 15px 9px;
      font-size: 18px;
      margin-bottom: 4px;
    }

    @include media-breakpoint-between(lg, lg) { 
      padding: 12px 45px 9px;
      margin-bottom: 4px;
    }

    &--has-children{
      width: 100%;

      &#{$element}--active{
        padding: 12px 0 0;
      }
    }

    &--child{
      width: 100%;
      background-color: #f6f6f6;
      margin-bottom: 0;
      font-weight: 200;
      font-size: 18px;
      padding: 12px 0;

      &:first-child{ padding-top: 19px; }
      &:last-child{ padding-bottom: 19px; }
    }

    &--grandchild {
      font-size: 14px;
      padding: 7px 0;
    }
  }

  &__link{
    color: #000;

    &:hover{ 
      color: $orange;
      text-decoration: none;
    }

    #{$block}__item--active > &{
      color: #fff;
    }

    #{$block}__item--child > &{
      color: #000;
      &:hover{ color: $orange; }
    }

    #{$block}__item--child#{$block}__item--active > &{
      color: $orange;
      font-weight: 500;
    }

    #{$block}__item--active#{$block}__item--has-children > &{
      padding-bottom: 10px;
      display: inline-block;
    }

    #{$block}__item--child#{$block}__item--active#{$block}__item--has-children > &{
      padding-bottom: 0;
      display: inline-block;
    }
  }

  &__logo{
    text-align: center;
    margin: 52px 0 77px;
    padding-bottom: 69px;
    border-bottom: 1px solid rgba(#000, 0.14);

    @include media-breakpoint-down(sm) { 
      margin: 29px 0 30px;
      padding-bottom: 39px;
    }

    @include media-breakpoint-between(lg, lg) { 
      margin: 25px 0 30px;
      padding-bottom: 39px;
    }
  }

  &__footer{
    border-top: 1px solid rgba(#000, 0.14);
    padding: 58px 0 55px;
    margin-top: 56px;

    @include media-breakpoint-down(md) { 
      margin-top: 32px;
    }

    @include media-breakpoint-down(sm) { 
      padding: 51px 0 25px;
      margin-top: 30px;
    }

    @include media-breakpoint-between(lg, lg) { 
      padding: 28px 0 25px;
    }
  }

  &__overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    z-index: 10;
    display: none;

    &--fadeIn{
      @keyframes fadeIn {
        0%   { 
          opacity: 0; 
          display: block;
        }
        1%   { opacity: 0}
        100% { opacity: 0.55; }
      }

      display: block;
      opacity: 0;
      animation: fadeIn 250ms forwards;
    }

    &--open{ 
      opacity: 0.55;
      display: block;
      transition: none;
    }

    &--fadeOut{
      display: block;
      opacity: 0;
      transition: opacity 250ms linear;
    }
  }

  &__close{
    position: absolute;
    left: 67px;
    top: 77px;

    @include media-breakpoint-down(md) { 
      left: auto;
      right: 67px;
    }

    @include media-breakpoint-down(sm) { 
      right: 19px;
      top: 55px;
    }

    @include media-breakpoint-between(lg, lg) { 
      top: 53px;
    }

    svg{
      height: 22px;
      width: 22px;

      .cls-1 {
        opacity: 0.19;
        transition: all $animation-time linear;
      }

      .cls-2 {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
        transition: all $animation-time linear;
      }
    }

    &:hover{
      svg{
        .cls-1 {
          opacity: 1;
        }

        .cls-2 {
          fill: none;
          stroke: $orange;
          stroke-width: 2px;
        }
      }
    }
  }
}