.slider{
	width: 100%;
	margin-bottom: 0 !important;

	@include media-breakpoint-down(sm) { margin-bottom: $startpage-xs-module-gap !important; }

	&__item{
		position: relative;
		color: $white;
	}

	&__overlay{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: #5B9ABB;
		opacity: 0.11;

		@include media-breakpoint-down(md) { opacity: 0.34; }
		@include media-breakpoint-down(sm) { 
			opacity: 0.81;
			background-color: #00476C;
		}
	}

	&__text-box{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
    width: 800px;
    z-index: 2;

    @include media-breakpoint-down(md) { 
    	max-width: 703px;
    	width: 100%;
    }

    @include media-breakpoint-down(xs) { top: 47%; }
	}

	&__title{
		font-size: 50px;
		font-weight: 900;
    text-shadow: 2px 2px 3px rgba(0,0,0,.4);

		@include media-breakpoint-down(md) { font-size: 43px; }
		@include media-breakpoint-down(sm) { 
			font-size: 30px;
			text-shadow: 1px 1px 1px rgba(0,0,0,.6);
			padding: 0 15px;
		}
		@include media-breakpoint-down(xs) { 
			font-size: 19px; 
	    margin-bottom: 16px;
		}

		&--no-shadow{
			text-shadow: none;
		}
	}

	&__text{
		font-weight: 500;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);

		@include media-breakpoint-down(md) { 
			font-size: 16px;
		}

		@include media-breakpoint-down(sm) {
	    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}

		@include media-breakpoint-down(xs) {
			font-size: 14px;
			padding: 0 11px;
			margin-bottom: 28px;
		}

		@media(max-width: 320px){
			max-height: 104px;
			overflow: hidden;
		}

		&--no-shadow{
			text-shadow: none;
		}
	}

	&__arrows{
		z-index: 3;
		&--prev{ left: 25px; }
		&--next{ right: 25px; }
	}

	&__dots{
		position: absolute;
		bottom: 30px;

		@include media-breakpoint-down(sm) { bottom: 17px; }
		@include media-breakpoint-down(xs) { bottom: 10px; }

		li{
			border: 1px solid $white;
			border-radius: 50%;
			height: 13px;
			width: 13px;

			&:hover{
				background-color: #fff;
			}

			&.slick-active{
				border-color: $orange;
				background-color: $orange;
			}
		}
	}
}