.social-links{
	$block: &;
	line-height: 0;

	&--footer{
		@include media-breakpoint-down(sm) { display: none; }
	}

	&--menu{
		text-align: center;
	}

	&__link{
		margin-left: 17px;

		@include media-breakpoint-down(md) { margin-left: 11px; }

		&:first-child{ margin-left: 0; }

		svg{
			height: 32px;
			width: 31.91px;

			@include media-breakpoint-down(md) {
				height: 21.65px;
				width: 21.59px;
			}

			.cls-1{ 
				fill: $teal-dark;
				transition: fill $animation-time linear; 
			}
		}

		#{$block}--menu &{
			svg{
				.cls-1{ fill: #C1C1C1; }
			}

			&:hover{ 
				.cls-1{ fill: $orange; }
			}
		}

		&:hover{ 
			text-decoration: none;
			.cls-1{ fill: $orange; }
		}
	}
}
