.split-post{
	$root: &;
	$img_link: $root + '__image-container a';
	width: 100%;
	display: flex;

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
	}

	@include media-breakpoint-down(sm) { margin-bottom: $startpage-xs-module-gap; }

	&--blue{ background-color: $blue; }
	&--teal{ background-color: $teal; }

	&__image-container{
		padding: 0;
		
		@include media-breakpoint-up(md) {
			&--right{ order: 2; }
		}

		@include media-breakpoint-up(md) {
	    flex: 0 0 50%;
	  }

		img{
			max-width: 100%;
		}
	}

	&__image-text{
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity $animation-time linear;
		font-size: 34px;
		color: $white;
		font-style: italic;
		z-index: 2;

		#{$img_link}:hover & { opacity: 1; }
	}

	&__image-overlay{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: transparent;
		transition: background-color $animation-time linear;
		z-index: 1;

		#{$img_link}:hover & { background-color: rgba(#2E7598, 0.30); }
	}

	&__tag{
		position: absolute;
		z-index: 9;

		&--right{ right: 0; }

		@include media-breakpoint-down(sm) { top: 0; }
	}

	&__text-box{
		color: $white;
		padding: 0 43px;

		@include media-breakpoint-down(md) { 
			padding: 0 34px;
			font-size: $font-size-std - 2;
			line-height: 19px;
		}
		
		@include media-breakpoint-down(sm) { 
	    padding: 29px 34px 10px;
			text-align: center;
		}
	}

	&__text{
		@include media-breakpoint-down(lg){
			p{
				display:none;
				&:first-child{ display: block; }
			}
		}

		@include media-breakpoint-down(md) {
			max-height: 60px;
			overflow: hidden;
			margin-bottom: 10px;
		}
	}

	&__link{
		color: $white;

		&:hover{ 
			color: $white;
			text-decoration: none;
		}
	}

	&__button{
		@include media-breakpoint-down(sm) { display: none; }
	}
}