<div class="repeatable-posts repeatable-posts--{{current_theme_template}}">
	{% for rpost in module.repeatable_posts %}
		{% set rpost = rpost|merge({'post' : TimberPost(rpost.post)}) %}
			<div class="col-12 col-md-{{ 12 / module.repeatable_posts|length }} repeatable-posts__post">
				{% if rpost.read_more == false %}<a class="repeatable-posts__link" href="{{fn('get_the_permalink', rpost.post)}}">{% endif %}
					<div class="repeatable-posts__image-container {% if rpost.overlay %}repeatable-posts__image-container--absolute{% endif %}">
						<span class="repeatable-posts__image-text">{{ fn('__', 'Read more', 'timelab-t3') }}</span>
						<span class="repeatable-posts__image-overlay"></span>
						{% if rpost.post.thumbnail %}
							<picture>
								{% set image_aspect = (rpost.overlay) ? 'portrait' : 'landscape' %}
								<source media="(max-width: 767px)" srcset="{{rpost.post.thumbnail.src('repeatable_post_xs')}}">
								<img src="{{rpost.post.thumbnail.src('repeatable_post_' ~ image_aspect)}}" alt="{{ rpost.post.thumbnail.title }}">
							</picture>
						{% endif %}

						{% if rpost.disable_tag == false %}
							<div class="label repeatable-posts__tag">
								{% if rpost.custom_tag %}
									{{ rpost.custom_tag }}
								{% else %}
									{{fn('get_post_type_object', rpost.post.post_type).label}}
								{% endif %}
							</div>
						{% endif %}
					</div>

					<!-- Set color class -->
					{% if rpost.bg_opacity <= 50 and rpost.overlay %}
						{% if rpost.bg_opacity == 50 %}
							{% set color_class = rpost.bg_color ~ '-transparent' %}
						{% else %}
							{% set color_class = 'transparent' %}
						{% endif %}
					{% else %}
						{% set color_class = rpost.bg_color %}
					{% endif %}
					<!-- end -->

					<div class="
						repeatable-posts__text-box 
						repeatable-posts__text-box--align-{{rpost.text_align}}
						repeatable-posts__text-box--{{color_class}}
						{% if rpost.overlay %}
							repeatable-posts__text-box--position-{{rpost.text_position}}
							repeatable-posts__text-box--overlay
						{% endif %}
						{% if rpost.post.thumbnail == false %}
							repeatable-posts__text-box--no-thumbnail
						{% endif %}
						">
						<div class="repeatable-posts__inner-text{% if rpost.overlay %} repeatable-posts__inner-text--overlay{% endif %}">
								<h3 class="repeatable-posts__title">{{rpost.post.post_title}}</h3>
								<div class="repeatable-posts__text">
									<p class="">{{function('get_post_field', 'post_content', rpost.post.ID)|excerpt(25)}}</p>
								</div>
							{% if rpost.read_more %}<a class="button repeatable-posts__button" href="{{fn('get_the_permalink', rpost.post)}}">{{fn('__', 'Read more', 'timelab-t3')}}</a>{% endif %}
						</div>
					</div>
				{% if rpost.read_more == false %}</a>{% endif %}
			</div>
	{% endfor %}
</div>