<div class="slider slider--{{current_theme_template}}">
	{% for slide in module.slides %}
	    <div class="slider__item">
	    	<picture>
    		  <source media="(max-width: 767px)" srcset="{{slide.image.sizes.startpage_slide_xs}}">
	    		<source media="(max-width: 991px)" srcset="{{slide.image.sizes.startpage_slide_sm}}">
	    	  <img src="{{slide.image.sizes.startpage_slide}}" />
	    	</picture>

	    	{% if slide.info.title or slide.info.text or slide.info.link %}
		    	<div class="slider__text-box">
		    		{% if slide.info.title %}<h2 class="slider__title{% if slide.info.shadow == false %} slider__title--no-shadow{% endif %}">{{slide.info.title}}</h2>{% endif %}
		    		{% if slide.info.text %}<p class="slider__text{% if slide.info.shadow == false %} slider__text--no-shadow{% endif %}">{{slide.info.text}}</p>{% endif %}
		    		{% if slide.info.link %}<a class="button" href="{{slide.info.link.0.url}}"{% if slide.info.link.0.target %} target="_blank"{% endif %}>{{ fn('__', 'Read more', 'timelab-t3') }}</a>{% endif %}
		    	</div>
	    	{% endif %}
	    </div>
	{% endfor %}
</div>