<div class="split-post split-post--{{current_theme_template}} split-post--{{module.bg_color}}">
	<div class="col-12 col-md split-post__image-container split-post__image-container--{{module.image_order}}">
		{% if module.link %}
			<a href="{{module.link.0.url}}"{% if module.link.0.target %} target="_blank"{% endif %} class="">
				<span class="split-post__image-text">{{ fn('__', 'Read more', 'timelab-t3') }}</span>
		{% endif %}
			<span class="split-post__image-overlay"></span>
			<picture>
				<source media="(max-width: 767px)" srcset="{{module.image.sizes.startpage_half_page_xs}}">
				<img class="split-post__image" src="{{module.image.sizes.startpage_half_page}}" />
			</picture>
		{% if module.link %}</a>{% endif %}

		{% if module.image_order %}
			<div class="label split-post__tag split-post__tag--{{module.image_order}}">{{module.tag}}</div>
		{% endif %}
	</div>

	<div class="col-12 col-md align-self-center split-post__text-box">
		{% if module.link %}<a href="{{module.link.0.url}}"{% if module.link.0.target %} target="_blank"{% endif %} class="split-post__link">{% endif %}
			<h3>{{module.title}}</h3>
		{% if module.link %}</a>{% endif %}

		<div class="split-post__text">{{module.text}}</div>

		{% if module.link %}
			<a href="{{module.link.0.url}}"{% if module.link.0.target %} target="_blank"{% endif %} class="button split-post__button">{{ fn('__', 'Read more', 'timelab-t3') }}</a>
		{% endif %}
	</div>
</div>