.contactpage{
  border-top: 1px solid #dfdfdf;

  &__seperator{
    margin-top: 50px;

    @include media-breakpoint-down(md) { border-width: 37px; }
    @include media-breakpoint-down(sm) { margin-top: 13px; }
  }

  .map{ margin-top: 67px; }
}