{% extends 'base-subpage.twig' %}

{% block content %}
  <section class="container contactpage">
    <div class="row">
      {% include "contact-modules/_map.twig" %}
    </div>

    <div class="contactpage__container">
      <div class="row">
        <div class="col-12 col-lg-4 col-border">
          <h2 class="contactpage__title">{{fn('__', 'Information', 'timelab-t3')}}</h2>
          <div class="contactpage__text">{{ post.content }}</div>
          
          <div class="contact-list">
            {% for contact in acf.acf_contact_contacts %}
              <div class="row align-items-center contact-list__item">
                <div class="contact-list__icon contact-list__icon--{{ contact.type }}">
                  {% set icon_path = '/assets/images/' ~ contact.type ~ '-icon.svg' %}
                  {{ source(icon_path | theme_path) }}
                </div>
                <div class="contact-list__text">
                  <strong class="contact-list__title">{{ fn('__', contact.type, 'timelab-t3') }}:</strong>
                  {% if contact.type == "phone" %}
                    <a class="contact-list__link" href="tel:{{ contact.value|replace({' ' : '', '-' : ''}) }}">
                      {{ contact.value }}
                    </a>
                  {% elseif contact.type == "email" %}
                    <a class="contact-list__link" href="mailto:{{ contact.value }}">
                      {{ contact.value }}
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}

            <div class="row align-items-center contact-list__item">
              <div class=" contact-list__icon contact-list__icon--address">
                {{ source('/assets/images/address-icon.svg' | theme_path) }}
              </div>
              <div class="contact-list__text">
                <strong class="contact-list__title">{{ fn('__', 'Address', 'timelab-t3') }}:</strong>
                {{ acf.acf_contact_address.address }} {{ acf.acf_contact_address.city }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-8">
          <h2 class="contactpage__title">{{fn('__', 'Contact form', 'timelab-t3')}}</h2>
          {{ fn('do_shortcode', '[contact-form-7 id="' ~ acf.acf_contact_form ~ '"]') }}
        </div>
      </div>
    </div>

    <div class="row">
      <hr class="contactpage__seperator" />
    </div>

    <div class="contactpage__container">
      <div class="row">
        <div class="col-12">
          <h2 class="contactpage__title">{{fn('__', 'Personnel', 'timelab-t3')}}</h2>
          
          {% include "contact-modules/_personnel.twig" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {{parent()}}
  <script>
    mapLat = {{ acf.acf_contact_address.lat }};
    mapLong = {{ acf.acf_contact_address.lng }};
    var responsiveMap;
    var beachMarker;
  </script>  
  <script src="https://maps.googleapis.com/maps/api/js?v=3&key={{google_api_key}}"></script>
{% endblock %}