{% extends 'base-subpage.twig' %}

{% block content %}
	<section class="news container">
		<div class="row">
			<div class="col-lg-8 col-xl-9">
				<div class="news__list">
					{% if post.thumbnail %}
						<div class="news__img" style="background-image: url('{{post.thumbnail.src}}');"></div>
					{% endif %}

					{% for news_post in posts %}
						<div class="news__single-item">
							<h1 class="news__title">{{ news_post.post_title }}</h1>
							<h2 class="news__date">{{ fn('__', 'Published', 'timelab-t3') }} {{ news_post.date("d F Y") }}</h2>
							<p class="news__text">{{ news_post.preview.read_more("").end("") }}</p>
							<a href="{{ news_post.link }}" class="button button--round button--transparent button--news">{{ fn('__', 'Read more', 'timelab-t3') }}</a>
						</div>

						{% if loop.last == false %}<hr />{% endif %}
					{% endfor %}

					<div class="pagination">
						{% for link in pagination %}
							<div class="pagination__item{% if 'current' in link %} pagination__item--active{% endif %}">
								{{link|replace({'page-numbers': 'pagination__link'})}}
							</div>
						{% endfor %}
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-xl-3 sidebar">
				{{sidebar}}
			</div>
		</div>
	</section>
{% endblock %}