{% extends 'base.twig' %}

{% block content %}
    {% for module in acf.acf_startpage_layout %}
    	<section id="{{ module.acf_fc_layout }}" class="container">
    		<div class="row">
        	{% include 'modules/' ~ module.acf_fc_layout ~ '.twig' with module %}
        </div>
    	</section>
    {% endfor %}
{% endblock %}