{% extends 'base-subpage.twig' %}

{% block content %}
  <section class="container subpage{% if menu_item.has_child_class %} subpage--parent{% endif %}">
    {% if menu_item.has_child_class %}
      <div class="row">
        <div class="col-lg-8 col-xl-9">
          <div class="subpage__container">
    {% endif %}

    {% if post.thumbnail %}
      <div class="row subpage-module subpage-module--thumbnail">
        <img src="{{post.thumbnail.src('subpage_full')}}" />
      </div>
    {% endif %}

    {% if acf.acf_notice and acf.acf_notice.text %}
      <div class="row subpage-module subpage-module--notice subpage-module--notice-{{acf.acf_notice.color}}{% if post.thumbnail %} subpage-module--no-gap-top-thumbnail{% endif %}{% if post.thumbnail == null and menu_item.has_child_class == false %} subpage-module--no-gap-top{% endif %}">
        {{acf.acf_notice.text}}
      </div>
    {% endif %}

    {% for row in acf.acf_grid %}
      <div class="row subpage__row{% if menu_item.has_child_class %} flex-column{% endif %}{% if post.thumbnail == false and acf.acf_notice.text == "" and loop.first %} subpage__row--padding-top{% endif %}">
        {% for column in row.columns %}
            <div class="{% if menu_item.has_child_class == false %}col-md {% if loop.first %}subpage__column--first {% endif %}{% if loop.last %}subpage__column--last {% endif %}{% endif %}subpage__column">
              {% for module in column.modules %}
                <div class="row subpage-module subpage-module--{{module.acf_fc_layout}}">
                  <div class="col-12">
                    {% if module.acf_fc_layout == "text-module" %}
                      {{ module.text }}
                    {% endif %}

                    {% if module.acf_fc_layout == "image-module" %}
                      <img src="{{ module.image.url}}" />
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
        {% endfor %}
      </div>
    {% endfor %}

    {% if menu_item.has_child_class %}
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 sidebar">
          {{sidebar}}
        </div>
      </div>
    {% endif %}
  </section>
{% endblock %}