.contactpage{
  background-color: #fff;
  border-bottom: 1px solid #DFDFDF;

  @include media-breakpoint-down(md){
    padding: 41px 0 0;
    border-bottom: 37px solid #F5F5F5;
  }
  
  @include media-breakpoint-down(sm) {
    padding: 24px 0 0;
    border-width: 24px;
  }

  
  > .row {
    @include media-breakpoint-down(md) { margin: 0; }
  }

  &__seperator{
    border-bottom: 1px solid #DFDFDF;
    border-top: none;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 68px;

    @include media-breakpoint-down(md) {
      border-width: 37px;
      border-color: #F5F5F5;
      margin-top: 46px;
    }

    @include media-breakpoint-down(sm) {
      border-width: 1px;
      border-color: #EBEBEB;
      margin-top: 13px;
    }
  }

  &__title{
    margin-top: 64px;
    margin-bottom: 32px;
    
    @include media-breakpoint-down(md) {
      margin-top: 58px;
      margin-bottom: 12px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 29px;
      margin-bottom: 12px;
      font-size: 26px;
    }
  }

  &__container{
    @include media-breakpoint-up(lg){
      padding: 0 22px;
    }

    @include media-breakpoint-down(md) {
      padding: 0 ($grid-gutter-width / 2);

      > .row {
        > .col-12{
          padding: 0 32px;

          &.col-border:first-child{
            border-bottom: 1px solid #F1F1F1;
          }
        }
      }
    }
  }

  &__text{
    @include media-breakpoint-up(lg) {
      padding-right: 30px;
    }
    margin-bottom: 43px;
  }
}

.contact-list{
  padding: 0 ($grid-gutter-width / 2);

  &__item{
    margin-bottom: 30px;

    @include media-breakpoint-between(md, md){
      border-bottom: 1px solid #ECECEC;
      padding-bottom: 38px;

      &:last-child{ 
        border-bottom: none;
        margin-bottom: 14px;
      }
    }

    @include media-breakpoint-down(sm){
      margin-bottom: 35px;
    }
  }

  &__link{
    color: #000;
  }

  &__text{
    line-height: 21px;
  }

  &__title{
    display: block;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &__icon{
    margin-right: 36px;
    width: 39px;

    svg{
      height: 100%;
    }

    &--phone{
      height: 42.34px;
      svg{ width: 32px; }
    }

    &--email{
      height: 39px;
      svg{ width: 39px; }
    }

    &--address{
      height: 36.99px;
      svg{ width: 35.65px; }
    }
  }
}