#nyheter-list {
    padding-bottom: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    @media screen and (max-width: 991px) {
        padding-top: 0 !important;
        padding-bottom: 20px !important;
    }
}

.news{
  padding: 0 0 20px;

  @include media-breakpoint-down(md){ padding: 0 0 37px; }

  &__container {
    background-color: #fff;
    padding: 34px 37px 41px;
  }
  
  &__list {
    background-color: white;
    padding: 34px 37px;

    @include media-breakpoint-down(md){
      padding: 42px 32px;
    }

    hr {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }

  &__title{
    font-weight: 300;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) { font-size: 26px; }
  }

  &__date{
    font-weight: 300;
    font-size: $font-size-std;
    color: $orange;
    margin-bottom: 17px;
  }

  &__text{
    p{ 
      margin-bottom: 24px; 
      &:last-child{ margin-bottom: 0; }
    }
  }

  &__img{
    height: 275px;
    margin-bottom: 27px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__single-item {

  }
}
