.subpage{
  $block: &;
  background-color: #fff;

  &--parent{ 
    background-color: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
  
  &__container{
    background-color: #fff;
    padding: 0 15px;
  }

  &__row{
    &--padding-top{ padding-top: 22px; }
  }

  &__column{
    padding: 0 37px;

    @include media-breakpoint-down(md){ padding: 0 32px; }
    @include media-breakpoint-down(sm){ padding: 0 31px; }
  }

  &:not(#{$block}--parent){
    #{$block}__row{
      padding: 0 37px;
      @include media-breakpoint-between(md, md){ padding: 0 43px; }
      @include media-breakpoint-down(sm) { padding: 0 31px; }

      &--padding-top{ padding-top: 29px; }
    }

    #{$block}__column{
      padding: 0;
      @include media-breakpoint-up(md) {
        &--first{ padding-right: 24px; }
        &--last{ padding-left: 24px; }
      }
    }
  }
}

.subpage-module{
  margin-bottom: 38px;

  @include media-breakpoint-down(sm) { margin-bottom: 25px; }
  
  &--no-gap-top{ 
    margin-top: -20px; 
    @include media-breakpoint-down(md){
      margin-top: 0; 
    }
  }
  
  &--no-gap-top-thumbnail{ margin-top: -38px; }

  &--thumbnail{
    display: block;
    
    img{ 
      max-width: 100%;
      width: 100%;
    }
  }

  &--image-module{
    img{
      max-width: 100%;
    }
  }

  &--text-module{
    p:last-child{
      margin-bottom: 0;
    }
  }

  &--notice{
    padding: 35px;
    text-align: center;
    font-size: 31px;
    font-style: italic;
    background-color: $orange;
    color: #fff;
    margin-bottom: 52px;
    justify-content: center;
    padding-right: 15%;
    padding-left: 15%;

    @include media-breakpoint-down(md) { font-size: 25px; }
    @include media-breakpoint-down(sm) { 
      font-size: 20px;
      padding: 25px 35px;
      margin-bottom: 31px;
    }

    &-teal{ background-color: $teal; }
    &-orange{ background-color: $orange; }
  }
}