.admin-grid{
  &__row{
  }

  &__column{
		.acf-input .acf-table{
			display: block;
			background: transparent;
			border: none;

			thead{ display: none; }

	  	tbody{
				display: flex;
				width: 100% !important;

				> tr{ 
					flex: 1;
					display: flex;
					flex-direction: column;
			    margin: 15px;
	        background: #F9F9F9;
	        border: 1px solid #DFDFDF;
	        overflow: hidden;
	        position: relative;

					> td{
						width: 100% !important;
						border: none;
						background: transparent;

						&.acf-row-handle{
							span:before{
								content: "Column ";
								display: inline;
							}

							&.remove{
								position: absolute;
								top: 8px;
					    	right: 0;
								text-align: right !important;

								.acf-icon{ position: static; }
							}
						}

					}

					&:hover{
						td.acf-row-handle.remove{
							.acf-icon{ display: inline-block; }
						}
					}
				}
	  	}
	  }
  }
}