{% extends "base-subpage.twig" %}

{% block content %}
<section class="container subpage{% if menu_item.has_child_class %} subpage--parent{% endif %}">
  <div class="row subpage-module--no-gap-top">
    <div class="col-lg-8 col-xl-9">
      <div class="subpage__container">
        <div class="row subpage__row flex-column subpage__row--padding-top">
          <div class="subpage__column--first subpage__column">
            <div class="row subpage-module subpage-module--text-module">
              <div class="col-12">
                <h2>Sidan kunde inte hittas</h2>
                <p>Du kanske skrev in fel adress, eller så har sidan du söker flyttas. <br />
                För att hitta tillbaka till startsida, följ länken <a href="{{site.url}}">{{site.name}} hem</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}