{% extends 'base.twig' %}

{% block header %}
  {{ parent() }}
    
  <div class="header__page-title{% if post.thumbnail != null and menu_item.has_child_class == false %} header__page-title--no-margin{% endif %}{% if fn('get_field', 'acf_hide_page_title') %} header__page-title--hidden{% endif %}">
    <h1>{{post.post_title}}</h1>
  </div>
  
{% endblock %}

{% block footer %}
  {% if fn('get_field', 'acf_hide_footer_message') == false and footer_message.text and fn('is_404') == false %}
    <div class="container footer__message">
      {{ footer_message.text }}
      <a class="button button--transparent button--white button--round button--footer-message" href="{{ footer_message.link.0.url }}" {% if footer_message.link.0.target %}target="_blank"{% endif %}>
        {{ footer_message.link.0.text }}
      </a>
    </div>
  {% endif %}

  {{ parent() }}
{% endblock %}