{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<nav id="nav-main" class="site-nav" role="navigation">
			<a class="site-nav__close" href="#">{{ source('/assets/images/close-icon.svg' | theme_path) }}</a>
			<div class="site-nav__logo site-logo site-logo--menu">
				{{ source('/assets/images/logo.svg' | theme_path) }}
			</div>
			{% include "menu.twig" with {'menu': menu.get_items} %}
			<div class="site-nav__footer">
				<div class="social-links social-links--menu">
					<a class="social-links__link" target="_blank" href="{{fn('get_field', 'acf_option_facebook_link', 'option')}}">{{ source('/assets/images/facebook-icon.svg' | theme_path) }}</a>
					<a class="social-links__link" target="_blank" href="{{fn('get_field', 'acf_option_linkedin_link', 'option')}}">{{ source('/assets/images/linkedin-icon.svg' | theme_path) }}</a>
				</div>
			</div>
		</nav><!-- #nav -->

		<div class="site-nav__overlay site-nav__overlay"></div>

		<header class="container header" >
			{% block header %}
				<div class="header__wrapper">
					<a class="site-logo site-logo--header" href="{{site.url}}" rel="home">
						{{ source('/assets/images/logo.svg' | theme_path) }}
					</a>

					<a href="#" class="nav-toggle">
						{{ source('/assets/images/menu-toggle.svg' | theme_path) }}
					</a>
				</div>
			{% endblock %}
		</header>

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
			<footer class="flex justify-content--space-between aling-items--center container footer{% if fn('get_field', 'acf_hide_footer_message') or footer_message.text is empty or fn('is_404') %} footer--border-top{% endif %}">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
