<a class="site-logo site-logo--footer" href="{{site.url}}" rel="home">
	{{ source('/assets/images/logo.svg' | theme_path) }}
</a>

<a class="site-logo site-logo--footer-small" href="{{site.url}}" rel="home">
	{{ source('/assets/images/logo-icon.svg' | theme_path) }}
</a>



<div class="footer__container flex aling-items--center">
	{% if fn('get_field', 'acf_footer_contact_link', 'option') %}
		<a class="footer__contact-us" href="{{fn('get_permalink', fn('get_field', 'acf_footer_contact_link', 'option'))}}">
			{{fn('get_the_title', fn('get_field', 'acf_footer_contact_link', 'option'))}}
		</a>
	{% endif %}
	<a class="footer__to-top" href="#">{{ source('/assets/images/arrow-up.svg' | theme_path)}}</a>
	<div class="social-links social-links--footer">
		<a class="social-links__link" target="_blank" href="{{fn('get_field', 'acf_option_facebook_link', 'option')}}">{{ source('/assets/images/facebook-icon.svg' | theme_path) }}</a>
		<a class="social-links__link" target="_blank" href="{{fn('get_field', 'acf_option_linkedin_link', 'option')}}">{{ source('/assets/images/linkedin-icon.svg' | theme_path) }}</a>
	</div>
</div>