{% if menu %}
	<ul class="site-nav__list{% if is_child and loop_count == 1 %} site-nav__list--child collapse{% if item.link == post.link or item.current_item_parent or item.current_item_ancestor %} show{% endif %}{% endif %}">
	{% for item in menu %}
		<li class="site-nav__item{% if item.link == post.link or item.current_item_parent or item.current_item_ancestor %} site-nav__item--active{% endif %}{% if is_child %} site-nav__item--child{% endif %}{% if item.get_children %} site-nav__item--has-children{% endif %}{% if loop_count == 2 %} site-nav__item--grandchild{% endif %}">
			<a class="site-nav__link" target="{{ item.target }}" href="{{ item.link }}"{% if item.get_children and is_child == false %} data-toggle="collapse"{% endif %}>{{ item.title }}</a>
      {% include "menu.twig" with {'menu': item.get_children, 'is_child': true, 'loop_count': (loop_count + 1)} %}  
		</li>
	{% endfor %}
	</ul>
{% endif %}
