{% extends 'base.twig' %}

{% block header %}
  {{ parent() }}
    
  <div class="header__page-title">
    <h1>{{title}}</h1>
  </div>
{% endblock %}

{% block content %}
  <section class="news container">
    <div class="row">
      <div class="col-lg-8 col-xl-9">
        <div class="news__list">
          {% for news_post in posts %}
            <div class="news__single-item">
              <h1 class="news__title">{{ news_post.post_title }}</h1>
              <h2 class="news__date">{{ fn('__', 'Published', 'timelab-t3') }} {{ news_post.date("d F Y") }}</h2>
              <p class="news__text">{{ news_post.preview.read_more("").end("") }}</p>
              <a href="{{ news_post.link }}" class="button button--round button--transparent button--news">{{ fn('__', 'Read more', 'timelab-t3') }}</a>
            </div>

            {% if loop.last == false %}<hr />{% endif %}
          {% endfor %}

          <div class="pagination">
            {% for link in pagination %}
              <div class="pagination__item{% if 'current' in link %} pagination__item--active{% endif %}">
                {{link|replace({'page-numbers': 'pagination__link'})}}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 sidebar">
        {{sidebar}}
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {% if fn('get_field', 'acf_hide_footer_message') == false and footer_message.text %}
    <div class="container footer__message">
      {{ footer_message.text }}
      <a class="button button--transparent button--white button--round button--footer-message" href="{{ footer_message.link.0.url }}" {% if footer_message.link.0.target %}target="_blank"{% endif %}>
        {{ footer_message.link.0.text }}
      </a>
    </div>
  {% endif %}

  {{ parent() }}
{% endblock %}