<div class="sidebar-module sidebar-module--share">
  <a href="{{facebook_share}}" target="_blank" rel="nofollow" class="sidebar-module__link">
    <svg xmlns="http://www.w3.org/2000/svg" class="sidebar-module__icon sidebar-module__icon--facebook" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" version="1.1" width="25px" height="30px">
    <g id="surface1">
      <path style=" " d="M 21.800781 0 L 2.199219 0 C 1 0 0 1 0 2.199219 L 0 21.800781 C 0 23 1 24 2.199219 24 L 12 24 L 12 14 L 9 14 L 9 11 L 12 11 L 12 8 C 12 5.5 13 4 16 4 L 19 4 L 19 7 L 17.699219 7 C 16.800781 7 16 7.800781 16 8.699219 L 16 11 L 20 11 L 19.5 14 L 16 14 L 16 24 L 21.800781 24 C 23 24 24 23 24 21.800781 L 24 2.199219 C 24 1 23 0 21.800781 0 Z "/>
    </g>
    </svg>

    <p class="sidebar-module__paragraph">{{ fn('__', 'Share on', 'timelab-t3')}} Facebook</p>
  </a>
</div>