<div class="sidebar-module sidebar-module--first sidebar-module--news-list">
  <h2 class="sidebar-module__title">{{ fn('__', 'News', 'timelab-t3') }}</h2>

  <div class="sidebar-module__list">
    {% for news in sidebar_posts %}
      <a href="{{ news.link }}" class="sidebar-module__list-item{% if post.id == news.id %} sidebar-module__list-item--active{% endif %}">
        <p class="sidebar-module__list-date">{{ news.date('Y-m-d') }}</p>
        <p class="sidebar-module__list-title">{{ news.post_title }}</p>
      </a>

      {% if loop.last == false %}<hr />{% endif %}
    {% endfor %}
  </div>
</div>

{% include "share.twig" %}

{% include "searchform.twig" %}
