<div class="sidebar-module sidebar-module--first sidebar-module--navigation">
  <h2 class="sidebar-module__title">
    {% if fn('get_field', 'acf_sidebar_nav_title', menu_item) %}
      {{fn('get_field', 'acf_sidebar_nav_title', menu_item)}}
    {% else %}
      {{ fn('__', 'Subpages', 'timelab-t3') }}
    {% endif %}
  </h2>

  <div class="sidebar-module__list">
    {% include "sidebar-menu-items.twig" with { 'menu': menu.items } %}
  </div>
</div>

{% include "share.twig" %}

