{% for item in menu %}
  {% if item.children is empty and current_path %}
    <a href="{{ item.link }}" class="sidebar-module__list-item{% if post.id == item.object_id %} sidebar-module__list-item--active{% endif %}">
      <p class="sidebar-module__list-title">{{ item.title }}</p>
    </a>

    {% if loop.last == false %}<hr />{% endif %}
  {% endif %}

  {% if item.current_item_parent or item.current_item_ancestor or item.current %}
    {% include "sidebar-menu-items.twig" with { 'menu': item.children, current_path: true } %}
  {% endif %}
{% endfor %}
