{% extends "base-subpage.twig" %}

{% block content %}
  <section class="news container">
    <div class="row">
      <div class="col-lg-8 col-xl-9">
        <div class="news__container">
          {% if post.thumbnail %}
            <div class="news__img" style="background-image: url('{{post.thumbnail.src}}');"></div>
          {% endif %}

          <div class="news__text-container">
            <h1 class="news__title">{{ post.post_title }}</h1>
            <h2 class="news__date">{{ fn('__', 'Published', 'timelab-t3') }} {{ post.date("d F Y") }}</h2>
            <div class="news__text">{{ post.content }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 sidebar">
        {{sidebar}}
      </div>
    </div>
  </section>
{% endblock %}