// Defaults
@import "custom";

// Vendor
@import "bootstrap/scss/bootstrap";
@import "vendor/slick";
@import "vendor/slick-theme";
@import "vendor/animate";


//Page Templates
@import "page-templates/news";
@import "page-templates/contactpage";
@import "page-templates/subpage";

//Partials global
@import "templates/_button";
@import "templates/_labels";
@import "templates/_header";
@import "templates/_footer";

// Partials modules
@import "templates/_site-nav";
@import "templates/_site-logo";
@import "templates/_slider";
@import "templates/_split-post";
@import "templates/_social-links";
@import "templates/_repeatable-posts";
@import "templates/_pagination";
@import "templates/_sidebar";
@import "templates/_maps";
@import "templates/_contact-form";
@import "templates/_personnel";


html, body {
	background: #F5F5F5;
  font-family: $font-family;
  font-size: $font-size-std;
  font-weight: $font-weight-std;
  transition: margin 250ms linear;
  overflow-x: hidden;

  h2{ 
    font-size: $font-size-h2;
    font-weight: $font-weight-std;

    @include media-breakpoint-down(md) {
      font-size: 37px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 26px;
    }
  }
  h3{ 
    font-size: $font-size-h3;
    @include media-breakpoint-down(md) {
      font-size: 21px;
    }
  }

  b, strong {
    font-weight: bold;
  }
  
  a{
    color: $teal;
    &:hover{ 
      color: $orange;
      text-decoration: none;
    }
  }

  .aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
  }

  .alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
  }
}

.flex {
	display: flex;

	&.justify-content {
		&--space-between { justify-content: space-between; }
	}

	&.aling-items {
		&--center {
			align-items: center;
		}
	}
}