// Grid
$gutter-width: 25px !default;
$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 960px,
  xl: 1280px
);

// Vendor config
$slick-font-path: "../fonts/";
$slick-loader-path: "../images/";

// Colors
$orange: #FF6803 !default;
$white: #fff !default;
$blue: #00476C !default;
$teal: #47A6AA !default;
$teal-dark: #067B8A !default;
$grey: #E9E9E9;

// Fonts
$font-family: 'Roboto', sans-serif !default;

// Font Sizes
$font-size-std: 16px !default;
$font-size-h2: 40px !default;
$font-size-h3: 26px !default;

// Font Weights
$font-weight-std: 300 !default;

// Animation
$animation-time: 100ms;

// Gaps
$startpage-xs-module-gap: 5px;